.card-template {
    /*position: absolute;*/
    width: 140px;
    height: 190px;
    background-color: #f6f6f6; /* Цвет фона */

    /* Центрирование */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Закругление углов карт */
    border-radius: 10px;

    /* Тень */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);

    /* Граница карты */
    border: 7px solid #416317;
}

.lizard {
    /* Настройки расположения ящерицы */
    max-width: 70%;
    height: auto;
    max-height: 70%;
    display: block;
}